<mat-card class="title-card">
    <mat-card-content>
        <form class="example-form" [formGroup]="addNewTeam">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Team name" formControlName="name">
            </mat-form-field>
        </form>
        <button mat-raised-button (click)="addTeam()">Add</button>
    </mat-card-content>
</mat-card>
<agf-team-list [loading]="teamsLoading$ | async" [error]="teamsError$ | async" [teams]="teams$ | async" (edit)="select($event)"></agf-team-list>